{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="container form-width m-auto mt-200">
        {% include '_partials/_flash.html.twig' %}

        {% if error %}
                <div class="alert alert-danger">Mot de passe ou nom d'utilisateur incorrect</div>
        {% endif %}


        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2 class="mb-5 font-weight-normal text-center font-weight-light">Page de connexion</h2>
        <div class="form-group">
            <label for="inputName">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control mb-3"
                   autocomplete="name" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-primary" type="submit">
            Se connecter
        </button>
        <a href="{{ path('app_forgotten_password') }}" class="ml-5 text-decoration-none">Mot de passe oublié</a>

    </form>
{% endblock %}