{% extends 'base.html.twig' %}

{% block title %} Ajout d'une figure - SnowTricks {% endblock %}

{% block body %}

    <div class="container mt-200 form-width">
        {{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group mb-4">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group mb-4">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}

        </div>
        <div class="form-group mb-4">
            {{ form_label(form.groupe) }} :
            {{ form_widget(form.groupe) }}
        </div>

        {% if app.request.attributes.get('_route') == 'app_trick_edit' %}
            <div class="row">
                {% for uploadedIllustration in uploadedIllustrations %}
                    <div class="col-12 col-lg-6 mb-4 box-img">
                        <img src="{{ asset('assets/illustrations/'~uploadedIllustration.name) }}"
                             class="d-block w-100 h-100 object-fit-cover rounded">

                        <a href="{{ path('app_illustration_delete', {'id': uploadedIllustration.id }) }}"
                           class="js-remove-item x-icon">
                            <i class="fa-regular fa-trash-can text-danger"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        {{ form_errors(form.illustrations) }}
        <ul class="js-images list-unstyled"
            data-index="{{ form.illustrations|length > 0 ? form.illustrations|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.illustrations.vars.prototype)|e('html_attr') }}">
        </ul>

        <button type="button" class="add_item_link btn btn-link text-decoration-none mb-3  d-block"
                data-collection-holder-class="js-images">
            Ajouter une image
        </button>

        <div class="mt-3">
            <ul class="js-wrapper js-videos list-unstyled"
                data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">

                {% for video in form.videos %}
                    <div class="position-relative js-item mt-5">
                        <iframe class="w-100 rounded" height="450" src="{{ video.vars.value.name }}"
                                allowfullscreen></iframe>
                        <a class="js-remove-item x-icon cursor-pointer">
                            <i class="fa-regular fa-trash-can text-danger"></i>
                        </a>
                        <li class="list-unstyled">
                            {{ form_label(video.name) }}
                            {{ form_widget(video.name) }}
                        </li>
                        <div class="mt-3">
                            {{ form_errors(form) }}
                        </div>

                        <div class="mt-3">
                            {{ form_errors(form.videos) }}
                        </div>

                    </div>
                {% endfor %}
            </ul>


            <button type="button" class="add_item_link btn btn-link text-decoration-none mb-3"
                    data-collection-holder-class="js-videos">
                Ajouter une video
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/delete.js') }}"></script>

{% endblock %}
