{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}
{% block header %} {% endblock %}
{% block body %}
    <span class="up text-primary"><i class="fa-solid fa-circle-arrow-up"></i></span>
    <div class="container">
        <div class="tricks row mt-100">
            {% include '_partials/_flash.html.twig' %}
            {% if app.user %}
                <a class="text-decoration-none ml-3 mb-3 w-100" href="{{ path('app_trick_add') }}">
                    Ajouter une figure
                </a>
            {% endif %}
            {% for trick in tricks %}
                <div class="card col-lg-4 col-md-6 col-12 border-0">
                    <img src="{{ asset('assets/illustrations/'~trick.firstImage.name) }}"
                         class="card-img-top img-height" alt="empty">
                    <div class="card-body text-center">
                        <a href="{{ path('app_trick', {'slug': trick.slug }) }}"
                           class=" text-decoration-none font-weight-bolder">
                            {{ trick.name | capitalize }}
                        </a>
                        {% if app.user is same as(trick.user) %}

                            <a href="{{ path('app_trick_delete', {'id': trick.id }) }}" class="float-right mr-2">
                                <i class="fa-regular fa-trash-can icon text-danger ml-2"></i>
                            </a>
                            <a href="{{ path('app_trick_edit', {'id': trick.id }) }}" class="float-right">
                                <i class="fa-solid fa-pen-to-square icon"></i>
                            </a>

                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center">
                <i id="loadMoreButton" class="fa-solid fa-circle-plus text-primary load-more"></i>
        </div>
    </div>

    <script src="{{ asset('js/loadMore.js') }}"></script>

    <script src="{{ asset('js/scrollToTop.js') }}">

    </script>


{% endblock %}
