{% extends 'base.html.twig' %}

{% block title %} Bienvenue - SnowTricks {% endblock %}

{% block body %}

    <div class="container mt-300">
        <h2 class="mt-200 mb-5 text-center text-info">{{ trick.name | capitalize }}</h2>
        <img src="{{ asset('assets/illustrations/'~trick.firstImage.name) }}" style="width: 100%">

        <div class="row mt-5">
            {% for image in trick.images %}
                {% if loop.index > 1 %}
                    <div class="col-md-12 col-lg-6 mb-4">
                        <img src="{{ asset("assets/illustrations/"~image.name) }}"
                             class="card-img-top rounded" alt="{{ image.name }}" style="height: 350px">
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row mt-5">
            {% for video in trick.videos %}
                <div class="col-md-12 col-lg-6 mb-4">
                    <iframe class="w-100 rounded" height="450" src="{{ video.name }}"
                            allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>

        <p class="mt-4">{{ trick.description }}</p>
        <div class="mb-3 mt-5"><strong>Auteur: </strong>{{ trick.user.name }}</div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <span class="">
            <strong>Date de création: </strong>{{ trick.createdAt|date('d/m/Y', timezone="Europe/Paris") }}
        </span>
            {% if trick.modifiedAt is not null %}
                <span class="">
                <strong>Dernière modification: </strong> {{ trick.modifiedAt|date('d/m/Y', timezone="Europe/Paris") }}
            </span>
            {% endif %}
            <span><strong>Groupe:</strong> {{ trick.groupe.name }}</span>
        </div>

        {% if app.user %}
            <div class="mt-5 mb-5 container form-width">
                <h4 class="text-center mb-3">Laisser un commentaire</h4>
                {{ form(form) }}
            </div>
        {% endif %}

        {% if comments.data is defined %}

            {% for comment in comments.data %}
                <div class="bg-gray mt-2 mb-4 p-3 shadow-sm rounded">
                    <p>{{ comment.content }}</p>
                    <div class="d-flex align-items-center justify-content-around">
                        <img src="{{ asset('assets/illustrations/' ~ comment.author.image) }}"
                             class="rounded-circle" style="width: 80px; height: 70px" alt="{{ comment.author.image }}"
                        >
                        <span class="ml-3 font-weight-bold"> {{ comment.author.name }}</span>
                        <span class="ml-5">{{ comment.createdAt|date('d/m/Y', timezone="Europe/Paris") }}</span>
                    </div>
                </div>
            {% endfor %}

            {% set currentPage = comments.page %}
            {% set pages = comments.pages %}
            {% include "_partials/_pagination.html.twig" %}

        {% endif %}


    </div>
{% endblock %}