{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}

    <div class="container form-width mt-200">
        {% include '_partials/_flash.html.twig' %}

        <h2 class="mb-5 text-center  font-weight-light">Page d'inscription</h2>
        {#   {{ form(form) }} #}

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name, "Nom d'utilisateur") }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email, "Adresse émail") }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.password, "Mot de passe") }}
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image, "Image") }}
            {{ form_widget(form.image, {'attr': {'class': 'real-input'}}) }}
            {{ form_errors(form.image) }}
            <div class="custom-input-container">
                <button class="btn btn-primary custom-btn" type="button">Télécharger une image</button>
                <span class="custom-text">Aucun fichier sélectionné</span>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script>
        const realInputFile = document.querySelector('.real-input')
        const customBtn = document.querySelector('.custom-btn')
        const customText = document.querySelector('.custom-text')

        customBtn.addEventListener('click', () => realInputFile.click())
        realInputFile.addEventListener('change', () => {
            if (realInputFile.value) {
                customText.innerHTML = realInputFile.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]
            } else {
                customText.innerHTML = 'Aucun fichier sélectionné'
            }
        })
    </script>

{% endblock %}
