<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Snow-tricks</title>

    <!-- Bootstrap core CSS -->
    <link href={{ asset("css/bootstrap.min.css") }} rel="stylesheet">
    <link href={{ asset("css/custom.css") }} rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
<header class="position-relative overflow-hidden {% if app.request.attributes.get('_route') == 'app_home' %} vh-100 {% endif %}">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('assets/logo.svg') }}" alt="logo" width="45" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href={{ path('app_home') }}>Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            Se déconnecter
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_register') }}">
                            Enregistrer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            Se connecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if block('header') is defined %}
        <div class="bg-img"></div>

        <h1 class="text-white title-center text-center">
            On commence l'aventure ensemble - Snowtricks
        </h1>
    {% endif %}

</header>

<main role="main">

    {% block body %} {% endblock %}

    <!-- FOOTER -->
    <footer class="bg-gray pt-lg-5 pb-lg-5 mt-200">
        <div class="container text-center">
            <p>&copy; 2024 Company SnowTricks, Inc. &middot;</p>
            <div class="mt-5">
                <a href="#" class="mr-5 text-decoration-none">Confidentialité</a> &middot;
                <a href="#" class="text-decoration-none">Conditions</a>
            </div>
        </div>
    </footer>
</main>


<script src={{ asset("js/bootstrap.bundle.js") }}></script>

</body>
</html>